@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgb(113, 24, 24) 93.2% );
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.container{
    display: inline-flex;
    align-items: center;
}
.image-container img{
    height: 700px;
    width: 600px;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

.image-container{
    height: 700px;
    width: 600px;
    border-radius: 0 10px 10px 0;
    position: relative; 
}


.form-container{
    width: 600px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px 0 0 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(113, 24, 24, 0.5); 
}


.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}

.form-group {
    margin-bottom: 30px;
    color: black;
}

.form-label {
    font-size: 16px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    outline: none;
    border-color: #66afe9;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-label {
    margin-left: 5px;
    font-size: 14px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background-color: #b30000;
}

.link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: black;
}

.password-container {
    position: relative;
}

#password {
    padding-right: 30px; 
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
